---
import Time from "@/icons/Time.astro";
import { type Song } from "@/lib/data";
import SongsTable from "./SongsTable";

interface Props {
  songs: Song[];
}

const { songs } = Astro.props;
---

<table class="table-auto text-left min-w-full divide-y divide-gray-500/50">
  <thead>
    <tr class="text-zinc-400 text-sm">
      <th class="px-4 py-2">#</th>
      <th class="px-4 py-2">Title</th>
      <th class="px-4 py-2">Álbum</th>
      <th class="px-4 py-2"><Time /></th>
    </tr>
  </thead>
  <tbody>
    {songs.map((song, index) => <SongsTable songInfo={song} index={index} />)}
  </tbody>
</table>
